@use "../_variables" as *;
@use "../_mixins" as *;

.navbar-component {
  position: fixed;
  z-index: 1000;
  top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
  padding: 0 200px;

  background-color: transparent;
  pointer-events: none;

  .logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    background-color: transparent;
    outline: 2px solid transparent;

    text-decoration: none;
    cursor: pointer;

    transition: all 0.1s ease 0.2s;

    /* Background */
    .logo:nth-child(1) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      transition: all 0.2s ease;

      path {
        fill: $color__wool;

        transition: fill 0.4s ease;
      }
    }

    /* Foreground */
    .logo:nth-child(2) {
      position: absolute;
      top: 45%;
      left: 45%;
      transform: translate(-50%, -50%);

      opacity: 100%;

      transition: all 0.1s ease, opacity 0.4s ease 0.2s;

      path {
        fill: $color__pure-white;

        transition: fill 0.4s ease;
      }
    }

    /* Alternate Background */
    .alternative-logo:nth-child(1) {
      path {
        fill: $color__mexican-sand;

        transition: fill 0.4s ease;
      }
    }

    /* Alternate Foreground */
    .alternative-logo:nth-child(2) {

      transition: fill 0.4s ease;
    }

    &:hover {
      transition: all 0.1s ease 0.2s;

      /* Foreground */
      .logo:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity: 0;

        transition: all 0.1s ease, opacity 0.4s ease 0.2s;
      }
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;

    color: $color__wool;
    list-style-type: none;

    .link {
      color: $color__wool;

      @include __underline-on-hover($color__mud, $color__wool);

      transition: color 0.4s ease;
    }

    .alternative-link {
      color: $color__mexican-sand;

      @include __underline-on-hover($color__mud, $color__mexican-sand);

      transition: color 0.4s ease;
    }

    .active {
      color: $color__mud;

      @include __underline-static($color__mud);

      transition: color 0.4s ease;
    }
  }
}