/* Global Variables */

/* Font Families */
$font-family__heading: 'Overlock', cursive;
$font-family__subheading: 'Assistant', sans-serif;
$font-family__paragraph: 'Mulish', sans-serif;
$font-family__link: 'Assistant', sans-serif;
$font-family__button: 'Assistant', sans-serif;
$font-family__tag: 'Assistant', sans-serif;

/* Font Styles */
$font-style__heading: normal;
$font-style__subheading: normal;
$font-style__paragraph: normal;
$font-style__link: normal;
$font-style__button: normal;
$font-style__tag: normal;

/* Font Weights */
$font-weight__heading: 900;
$font-weight__subheading: 600;
$font-weight__paragraph: 400;
$font-weight__link: 500;
$font-weight__button: 600;
$font-weight__tag: 500;

/* Font Sizes */
$font-size__heading: 72px;
$font-size__subheading: 48px;
$font-size__paragraph: 32px;
$font-size__link: 32px;
$font-size__button: 28px;
$font-size__tag: 16px;

/* Line Heights */
$line-height__heading: normal;
$line-height__subheading: normal;
$line-height__paragraph: 48px;
$line-height__link: normal;
$line-height__button: normal;
$line-height__tag: normal;

/* Colors */
$color__pure-white: rgba(255, 255, 255, 1);
$color__macaroon: rgba(255, 232, 214, 1);
$color__jacobean: rgba(230, 204, 178, 1);
$color__wool: rgba(221, 190, 169, 1);
$color__cappuccino: rgba(221, 184, 146, 1);
$color__mexican-sand: rgba(177, 152, 130, 1);
$color__syrup: rgba(176, 137, 104, 1);
$color__mud: rgba(99, 76, 61, 1);