/* Animations */
@keyframes highlightOnLoad {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Mixins */
@mixin __highlight-on-hover($text-color, $highlight-color) {
  * {
    z-index: 1;
  }

  &::before {
    content: attr(data-text);

    position: absolute;
    width: 0;

    overflow: hidden;
    white-space: nowrap;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, $highlight-color 65%);

    transition: width 0.4s ease, color 0.4s ease;
  }

  &:hover::before {
    width: 100%;
    color: $text-color;

    transition: width 0.4s ease, color 0.4s ease;
  }
}

@mixin __highlight-on-load($highlight-color, $animation-delay: 0s) {
  &::before {
    content: attr(data-text);

    position: absolute;
    width: 0;

    overflow: hidden;
    white-space: nowrap;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, $highlight-color 65%);

    animation: 1.4s ease $animation-delay forwards highlightOnLoad;
  }
}