/* Global Variables */

/* Font Families */
$font-family__nabla: 'Nabla', cursive;
$font-family__overlock: 'Overlock', cursive;
$font-family__signika: 'Signika', sans-serif;
$font-family__mulish: 'Mulish', sans-serif;

/* Font Sizes */
$font-size__heading: 4rem;
$font-size__subheading: 3rem;
$font-size__paragraph: 1.75rem;
$font-size__button: 1.5rem;

/* Font Weights */
$font-weight__black: 900;
$font-weight__bold: 700;
$font-weight__semi-bold: 600;
$font-weight__medium: 500;
$font-weight__regular: 400;

/* Colors */
$color__pure-white: rgba(255, 255, 255, 1);
$color__macaroon: rgba(255, 232, 214, 1);
$color__jacobean: rgba(230, 204, 178, 1);
$color__wool: rgba(221, 190, 169, 1);
$color__cappuccino: rgba(221, 184, 146, 1);
$color__syrup: rgba(176, 137, 104, 1);
$color__mud: rgba(99, 76, 61, 1);
